@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:"Open Sans", sans-serif ;
    box-sizing: border-box;
    margin: 0 auto;
   
}
/* Style nav */
.section-nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;


}
.section-nav-1{
    text-align: center;
    width: 114px;
    height: 100%;
    text-align: center;

}
.section-btn-nav-2{
    text-align: center;
    background-color: rgb(242, 242, 247);
    position: static;
    width: 125px;
    height: 30px;
    display: flex;

}
/* section-cover */
.section-cover-container{
width: 1440px;
height: 652px;
/* border: 2px solid red; */
background-image: url(../assets/Hero-bg.png);
margin: 0 auto;
justify-content: center;


}
.section-cover-container-image{
width: 240.28px;
height: 240px;
/* margin: 2px solid red; */
margin: 26px 599.86px 386px 599.86px;

}
.section-cover-content{
width: 998px;
/* border: 2px solid rgb(255, 60, 0); */
margin: 0 auto;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
flex-direction:column;
align-items:center;
margin-inline: -350px;
height: 900px;

}
.contact-btn{
     color: rgb(253, 253, 253);
    border: 2px solid 
    /* red; */
    margin-top:100px;
    margin-bottom:600px;
    background-color: rgb(14, 11, 11);
    width: 200px;
height: 66px;
margin-left: -60px;
margin-right: -10px;
text-align:center;
border-radius: 10px;
padding-top: 14px;

}
/* section-frame */
.section-frame{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafb;
    width: 1140px;
height: 1395px;
margin-top: 74px;
padding: 80px 97px 80px 97px;
}
.section-frame-header{
    width: 852px;
height: 115px;
margin: 0 auto;
margin-top: 0 px ;
background-color: white;

}

.section-frame-header p{
    background-color: white;
    text-align: center;
}
.section-frame-header h1{
    text-align: center;

}
/* section-frame-content */
.section-frame-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 48px;

}
.section-frame-content-1{
    background-color: white;
    flex-direction:row;
    width: 477px;
    height: 220px
}

.section-frame-content-image{
width: 259.56px;
height: 217.01px;

}
.learn-more-1{
border: 2px solid rgb(95, 94, 94);
width: 150px;
height: 48px;
margin-left: 0px;
text-align: left;
text-align: center;
padding: 10px 10px 10px 10px;
margin bottom: 500px;
margin-top:40px;
}
/* section-frame-content-2 */
.section-frame-content-2{
    display: flex;
     width: 946px;
height: 336px;
flex-direction:row;

}
.section-frame-content-2 image{
    background-color: white;
    padding: 10px;
    width: 240px;
height: 240px;
}
.section-frame-content-2-content{
    flex-direction: column;
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    width: 477px;
height: 220px;
}
.learn-more-2{
    border: 2px solid rgb(80, 79, 79);
    width: 150px;
    height: 48px;
    margin-left: 0px;
    text-align: left;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin bottom: 100px;
    margin-top:80px;
}
/* .section-frame-content-3 */

.section-frame-content-3{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 48px;
    width: 946px;
height: 336px;

}
.section-frame-content-3-content{
    background-color: white;
    flex-direction:row;
    width: 477px;
    height: 220px;
}

.section-frame-content-image-3{
    width: 206.4px;
    height: 187.32px;

}
.learn-more-3{
border: 2px solid rgb(95, 94, 94);
width: 150px;
height: 48px;
margin-left: 0px;
text-align: left;
text-align: center;
padding: 10px 10px 10px 10px;
margin bottom: 100px;
margin-top:40px;}
/* section-inspire */
.section-inspire{
    width: 1140px;
height: 777px;
margin: 2px solid red;
margin-top: 330px;
bottom: 181px;
}
.section-inspire-content{
    width: 852px;
height: 115px;
display: flex;
flex-direction: column;
margin: 2px solid red;
}
.inspiration{
padding: 32px;
border: 1px solid rgb(94, 92, 92);
border-radius: 15px;
}
/* My current target */
/* Section Frame-2 */
.section-frame-2{
    border: 2px solid red;
    position: absolute;
    width: 1140px;
    height: 1444px;
    left: 150px;
    right: 150px;
    top: 2800px;
    bottom: 2000px;
}
/* My current target */
.My-current-target{
    width: 1140px;
    height: 463px;
border: 2px solid red;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 111px 0px;
margin-top:0px;

} 
.My-current-target-header{
 border: 2px solid red ;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
margin: 0 auto;
width: 946px;
height: 115px;
text-align: center;
}
/* <!-- My-current-target-content-Box --> */
.My-current-target-content-Box-ALL{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

}
.My-current-target-content-Box-1{
display: flex;
background-color:#fff6f4 ;
 border: 2px solid red;
 width: 364px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px,

}
.My-current-target-content-Box-1 img{
margin-left: 100px;
flex-direction: row;
width: 56px;
height: 56px;
margin: 24px 0px;
border:5px solid red;
margin-top:-170px;
}
.My-current-target-content-Box-1 h3{
    border: 2px solid red;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 300px;
    font align-items: left; 
}
.My-current-target-content-Box-1 h5{
    margin-left: 5px;
     width: 284px;
    height: 20px;
    text-decoration: underline;
}
.My-current-target-content-Box-2{
    border: 2px solid red;
    width: 364px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 40px;
   background-color: #f2f6fe;

}
.My-current-target-content-Box-2 img{
    display: flex;
       justify-content: flex-start;
    display: flex;
    flex-direction: row;
    position: static;
width: 56px;
height: 56px;
margin: 24px 0px;
border:5px solid red;
margin-top:-180px;
padding: 2px;

}
.My-current-target-content-Box-2 h3{
    border: 2px solid red;
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font align-items: left;
}
.My-current-target-content-Box-2 h5{
    position: static;
    width: 284px;
    height: 20px;
      display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    text-decoration: underline;
}
.My-current-target-content-Box-3{
    background-color: #fff6f4;
    border: 2px solid red;
    width: 364px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 40px;
   display: flex;
}
.My-current-target-content-Box-3 img{
    display: flex;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    position: static;
width: 56px;
height: 56px;
margin: 24px 0px;
border:5px solid red;
margin-top:-180px;
}
.My-current-target-content-Box-3 h3{
    border: 2px solid red;
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font align-items: left;
}
.My-current-target-content-Box-3 h5{
    position: static;
    width: 284px;
    height: 20px;
      display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    text-decoration: underline;
}
/* My next Target */
.my-next-target-content{
width: 852px;
height: 115px;
border: 2px solid red;
align-items: center;
text-align: center;
margin-top: 111px;
}

/* React JS */

.React-JS{
    border-radius: 16px;
    border: 2px solid rgb(48, 47, 47);
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100px;
    width: 1140px;
height: 220px;
padding: 40px;
margin-top:24px ;
}
img{
    border-radius: 10px;
    max-width: 350px;
    float: left;
    margin-right: 2px;

}
.react-js-contener{
    margin:100px;
    width: 75%;

}
text h3{font-size: 50px ;
    padding: 5px;


}
text {
    font-size: 22px;
}
/* Node JS  */
.Node-JS{
    border-radius: 16px;
margin-top: 24px;
    width: 1140px;
height: 220px;
    border: 2px solid rgb(48, 47, 47);
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100px;
}
img{
    border-radius: 10px;
    max-width: 350px;
    float: left;
    margin-right: 2px;

}
.node-js-contener{
    margin:100px;
    width: 75%;

}
text h3{font-size: 50px ;
    padding: 5px;


}
text {
    font-size: 22px;
}
/* Mongo-BD */

.Mongo-BD{
    border-radius: 16px;
    margin-top: 24px;
    width: 1140px;
height: 220px;
    border: 2px solid rgb(48, 47, 47);
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100px;
 }
img{
    border-radius: 10px;
    max-width: 350px;
    float: left;
    margin-right: 2px;

}
.Mongo-BD-container {
    margin:100px;
    width: 75%;

}
text h3{font-size: 50px ;
    padding: 5px;


}
text {
    font-size: 22px;
    text-decoration: underline;
}
text p{
    text-decoration: underline;
}
/* section-support */
   .section-support-container{
    border: 2px solid red;
    width: 1140px;
height: 314px;

   }
   .section-support-content{

    display: flex;
flex-direction: column;
width: 1140px;
height: 314px;
padding: 48px;
background-image: url(/assets/handshake.jpg);
background-position: center;



   }
   .btn-section-support{

   }
   .search{
    display: flex;
    justify-content: center;
   margin-bottom: 1010px;
   margin-top: 100px;
   }
   .tbox{
    width: 548px;
height: 57px;

   }
   .btn{
    width: 50px;
    border: 1px solid red;
   }
